---
layout: default
---

<header>
  <code
    >[~]$ whoami
    <span
      class="cursor"
      style="
        display: inline-block;
        width: 0.3em;
        height: 0.75em;
        margin-left: 2px;
        background-color: #f8f8f8;
        vertical-align: middle;
        animation: blink 1s step-start infinite;
      "
    ></span
  ></code>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
  <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%} {{ content }}

